<!DOCTYPE html>
<html>
	 <head>
	    <title>S Search Example</title>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="stylesheet" href="/s/Resources/public/css/admin.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/dom.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/s.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/form.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/buttons.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/calendar.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/grid.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/modal.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/fileupload.css" />
	    <link rel="stylesheet" href="/s/Resources/public/css/icropper.css" />
	    <script src="/s/Resources/public/scripts/sfx.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.ajax.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.dom.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.events.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.calendar.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.modal.js"></script>
	    <script src="/s/Resources/public/scripts/sfx.fileupload.js"></script>
	    <script src="/s/Resources/public/scripts/icropper.js"></script>
	  </head>

	  <body>
	  	<div class="top-bar">
				<h2>SCL Software</h2>
	  	</div>

	  	<div class="row">
	  		<div class="small-12 columns header">
		        <h1 onclick="Sfx.fileUpload('/s/fileUpload/upload','/s/ResizeImage/ResizeFromUpload','logo',200,200)" >Soy un clip</h1>
		        <input type ="text" id="logo" />
		        <hr>
	      </div>
	  	</div>
	  </body>
  </html>