<!DOCTYPE html>
<html>
    <head>
        <title>Syltek</title> 
        <meta name="description" content="Sistemas de reservas online"/> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/css/error.css" rel="stylesheet" type="text/css" />
    </head>
    <body>        
                
        <div class="body">         
            <div class="header">
                <div class="companyLogo">Syltek</div>
            </div>      
            <div class="mainColumn">
                    {{ . }}                    
             </div>
        </div>
        
   </body>
</html>
